doctype
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="優れたUIのサービス・プロダクトを中心としたデザインギャラリーサイト UI Clipの「xxxxx」ページです。")
    meta(name="keywords", content="*****,*****,*****,*****,*****")
    meta(name="author", content="")
    meta(property="og:title", content="タイトル")
    meta(property="og:type", content="website")
    meta(property="og:url", content="http://任意のURL")
    meta(property="og:image", content="http://任意のURL/og_image.png")
    meta(property="og:site_name", content="")
    meta(property="og:description", content="優れたUIのサービス・プロダクトを中心としたデザインギャラリーサイト UI Clipの「xxxxx」ページです。")
    meta(property="fb:app_id", content="任意のID")
    title soundcloud | UI Clip | UIデザインギャラリー
    link(rel='shortcut icon', href="../assets/common/favicon.png")
    link(rel='shortcut icon', href="../assets/common/apple-touch-icon.png")
    link(rel='shortcut icon', href="../assets/common/android-chrome-192x192.png")    
    link(rel='stylesheet', href="../css/font-style.css")
    link(rel='stylesheet', href="../css/style.css")
    link(rel='stylesheet', href="../css/slick.css")
    link(rel='stylesheet', href="../css/slick-theme.css")
    
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-XXXXXXXX-Y', 'example.com');
      ga('send', 'pageview');
  body
    //- script.
    //-   (window.jQuery || document .write('<script src="js/jquery-1.11.2.min.js"><\/script>'));
    
    //- header (ロゴ、ナビゲーション)
    header
      include ../../include/_header

    section.content
      .content__inner
          //-　APPコンテンツ
          .detail-contents
            //-　SoundCloudサービス情報
            .detail-contents__items
              dl.service-info
                dt
                  //-　アイコン
                  img(src="/assets/app/soundcloud/icon-soundcloud.svg")
                dd
                  //-　サービス名称
                  h2.service-info__name SoundCloud
                    //-　コピーライト,version
                    span.service-info__copy © SoundCloud Global Limited & Co KG
                    span.service-info__version Version  8.6.30
              
              //-　サービス概要
              .detail-contents__overview
                p.overview-text SoundCloudではもっとたくさんの音楽やオーディオを視聴できる。新しい話題の音楽を検索し、トラックやプレイリストを集めよう。友達やアーティストをフォローして、ポッドキャスト、コメディ、ニュースを見つけ出そう。どこで何をしていても、SoundCloud のアプリがあれば、もっとオーディオを楽しむことができる。ヒップホップ、ロック、エレクトロニカ、クラシック、ハウス、ジャズ、オーディオブック、スポーツなど・・・。もっと楽しめます。

              .detail-contents__tag
                ul.tag-items 
                  li.tag-items__item 
                    .background-tag
                    span.item-text タグが入ります
                  li.tag-items__item
                    .background-tag
                    span.item-text タグが入ります
                  li.tag-items__item
                    .background-tag
                    span.item-text タグが入ります
                  li.tag-items__item
                    .background-tag
                    span.item-text タグが入ります

              ul.detail-contents__thumbnail
                - 
                  var list = [
                    {
                      altName: SoundCloud,
                      imgSrc: "/assets/app/soundcloud/img01-soundcloud@2x.png",
                    },
                    {
                      altName: SoundCloud,
                      imgSrc: "/assets/app/soundcloud/img02-soundcloud@2x.png",
                    },
                    {
                      altName: SoundCloud,
                      imgSrc: "/assets/app/soundcloud/img03-soundcloud@2x.png",
                    },
                    {
                      altName: SoundCloud,
                      imgSrc: "/assets/app/soundcloud/img04-soundcloud@2x.png",
                    },
                    {
                      altName: SoundCloud,
                      imgSrc: "/assets/app/soundcloud/img05-soundcloud@2x.png",
                    },
                    {
                      altName: SoundCloud,
                      imgSrc: "/assets/app/soundcloud/img06-soundcloud@2x.png",
                    },
                    {
                      altName: SoundCloud,
                      imgSrc: "/assets/app/soundcloud/img07-soundcloud@2x.png",
                    },
                    {
                      altName: SoundCloud,
                      imgSrc: "/assets/app/soundcloud/img08-soundcloud@2x.png",
                    },
                    {
                      altName: SoundCloud,
                      imgSrc: "/assets/app/soundcloud/img09-soundcloud@2x.png",
                    },
                    {
                      altName: SoundCloud,
                      imgSrc: "/assets/app/soundcloud/img10-soundcloud@2x.png",
                    },
                    {
                      altName: SoundCloud,
                      imgSrc: "/assets/app/soundcloud/img11-soundcloud@2x.png",
                    },
                    {
                      altName: SoundCloud,
                      imgSrc: "/assets/app/soundcloud/img12-soundcloud@2x.png",
                    },                                                                                                                         
                  ]
                each item in list
                  li.contents-thumbnail.is-modal-open
                    img(src=item.imgSrc alt="item.altName")


              #modal.modal
                .modal-close.is-modal-close
                  img(src="/assets/common/icon-close.png" alt="close")
                .modal-content
                  .modal-content__inner
                    .modal-content__inner-slider.slick-modal
                      //- todo SPタップ時にモーダルが開いてしまうので、、、何らかの対策講じる
                      .modal-image 
                        img(src="/assets/app/soundcloud/img06-soundcloud@2x.png" alt="rrr")
                      .modal-image
                        img(src="/assets/app/soundcloud/img06-soundcloud@2x.png")                        
                    .modal-content__inner-app-information
                      .app-information__service
                        dl.service-info
                          dt
                            //-　アイコン
                            img(src="/assets/app/soundcloud/icon-soundcloud.svg")
                          dd
                            //-　サービス名称
                            h2.service-info__name SoundCloud
                            //-　コピーライト
                            span.service-info__copy © SoundCloud Global Limited & Co KG
                            
                      .app-information__tags
                        ul.app-information__tags-list
                          li.app-information__tags-list-item
                            span.list-item タグが入ります
                          li.app-information__tags-list-item         
                            span.list-item タグが入ります　タグが
                          li.app-information__tags-list-item         
                            span.list-item タグが入りますタグが入ります
                          li.app-information__tags-list-item         
                            span.list-item タグが入ります　タグが
                          li.app-information__tags-list-item         
                            span.list-item タグが入ります　タグが入ります
                          li.app-information__tags-list-item         
                            span.list-item タグが入ります                                                        
                          li.app-information__tags-list-item         
                            span.list-item タグが入ります   
                          li.app-information__tags-list-item         
                            span.list-item タグが入ります   
                          li.app-information__tags-list-item         
                            span.list-item タグが入ります
          //-　AmazonBannerエリア
          .advertisement-area 
              .advertisement-area__add-book
                .book-title
                  p.book-title__text Books
                ul.book-banner.slick-add
                  //- li.book-banner__item ddd
                  - 
                    var list = [
                      {
                        altName: bookバナー,
                        imgSrc: "/assets/common/add/banner-add-book01.png",
                      },
                      {
                        altName: bookバナー,
                        imgSrc: "/assets/common/add/banner-add-book01.png",
                      },
                      {
                        altName: bookバナー,
                        imgSrc: "/assets/common/add/banner-add-book01.png",
                      },
                      {
                        altName: bookバナー,
                        imgSrc: "/assets/common/add/banner-add-book01.png",
                      },
                      {
                        altName: bookバナー,
                        imgSrc: "/assets/common/add/banner-add-book01.png",
                      },
                      {
                        altName: bookバナー,
                        imgSrc: "/assets/common/add/banner-add-book01.png",
                      },
                                                                                                                    
                    ]
                  each item in list
                    li.book-banner__item
                      img(src=item.imgSrc alt="item.altName" loading="lazy")

              .advertisement-area__banner
                img.banner-add(src="/assets/common/add/banner-add-adobe.png" alt="広告")

    //- footer (SNS、コピーライト)
    //- script もfooterの中に記述 
    footer
      include ../../include/_footer