.footer-inner
    ul.icon-area
      li.icon-area__item
        a.icon-area__item-link(href="https://twitter.com/uiclip" target="_blank")
          .background-icon
          img.icon-twitter(src="/assets/common/icon-twitter.svg" alt="twitter")
      li.icon-area__item
        a.icon-area__item-link(href="https://www.facebook.com/uiclip" target="_blank")
          .background-icon
          img.icon-facebook(src="/assets/common/icon-facebook.svg" alt="facebook")
      li.icon-area__item
        a.icon-area__item-link(href="https://twitter.com/uiclip" target="_blank")
          .background-icon
          img.icon-rss(src="/assets/common/icon-rss.svg" alt="rss")
      li.icon-area__item
        a(href="https://www.buymeacoffee.com/uiclip" target="_blank")
          img.icon-coffee(src="/assets/common/banner-coffee.svg" alt="buy me a coffee")
    p.copyright © UI Clip

script(src="https://code.jquery.com/jquery-3.6.0.min.js")
script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
script(src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
script(src="/js/scripts.js")


//- script(src="js/pagination.js")