// FontFamily
@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&display=swap");

$en-font: "Crimson Text", serif;
$jp-font: "Noto Sans JP", sans-serif;

// JP_PC_headding
$jp-hedding01: 32px;
$jp-hedding02: 28px;
$jp-hedding03: 24px;
$jp-hedding04: 20px;
$jp-hedding05: 18px;
$jp-hedding06: 16px;

// JP_PC_headding
$jp-sp-hedding01: 26px;
$jp-sp-hedding02: 24px;
$jp-sp-hedding03: 22px;
$jp-sp-hedding04: 20px;
$jp-sp-hedding05: 18px;
$jp-sp-hedding06: 16px;

// EN_PC_headding
$en-hedding01: 40px;
$en-hedding02: 32px;
$en-hedding03: 26px;
$en-hedding04: 22px;
$en-hedding05: 20px;
$en-hedding06: 18px;

// EN_SP_headding
$en-sp-hedding01: 32px;
$en-sp-hedding02: 26px;
$en-sp-hedding03: 24px;
$en-sp-hedding04: 22px;
$en-sp-hedding05: 20px;
$en-sp-hedding06: 18px;

// デフォルトクリア
a {
  text-decoration: none;

  &:hover {
    opacity: 0.5;
  }
}

body {
  font-family: $jp-font;
  color: #333333;
  background-color: #f7f7f7;
  font-size: 14px;
  overflow-x: hidden;
}

// ヘッダー
header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #f7f7f7;
}

// .header-inner
.header-inner {
  padding: 30px 50px 0;
  margin: 0 auto 80px;

  @include mq-up("sp") {
    padding: 20px 15px;
    margin: 0 auto;
  }

  // .header-inner__nav
  &__nav {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    list-style: none;

    @include mq-up("sp") {
      display: block;
    }
  }

  // .header-inner__logo
  &__logo {
    @include mq-up("sp") {
      img {
        max-width: 100px;
      }
    }
  }
  
  &__nav-link {

    .nav__inner {
      position: relative;
    }
    .background-nav {
      position: absolute;
      z-index: 0;
      background: #fff;
      width: 100%;
      height: 55px;
      border-radius: 50px;
      top: -4px;
      right: 4px;
      
      @include mq-up("sp") {
        display: none;
      }
    }

    .hamburger {
      display: none;
    }
    //- ハンバーガーメニュー
    @include mq-up("sp") {
      //- ハンバーガーメニュー　アイコン
      .hamburger {
        display: block;
        position: fixed;
        z-index: 5;
        right: 20px;
        top: 10px;
        width: 55px;
        height: 55px;
        border-radius: 55px;
        background: #fff;

        &-inner {
          position: absolute;
          top: 2px;
          left: 5px;
          width: 53px;
          height: 53px;
          border-radius: 53px;
          background: #F5F5F5;
          box-shadow: 3px 3px 3px rgba(116, 116, 116, 0.3);
        }
        span {
          display: block;
          position: absolute;
          width: 18px;
          height: 2px;
          left: 18px;
          background: #191919;
          -webkit-transition: 0.3s ease-in-out;
          -moz-transition: 0.3s ease-in-out;
          transition: 0.3s ease-in-out;
        }
        &__lineTop {
          top: 18px;
        }
        &__lineMiddle {
          top: 26px;
        }
        &__lineBottom {
          bottom: 17px;
        }
        //- ハンバーガーメニュー click時の動き
        &.active {
          .hamburger {
            &__lineTop {
              top: 25px;
              left: 18px;
              background: #191919;
              -webkit-transform: rotate(-45deg);
              -moz-transform: rotate(-45deg);
              transform: rotate(-45deg);
            }
            &__lineMiddle {
              top: 25px;
              background: #191919;
              -webkit-transform: rotate(45deg);
              -moz-transform: rotate(45deg);
              transform: rotate(45deg);
            }
            &__lineBottom {
              top: 25px;
              background: #191919;
              -webkit-transform: rotate(45deg);
              -moz-transform: rotate(45deg);
              transform: rotate(45deg);
            }
          }
        }
      }
    }
  }
  // .header-inner__menu
  &__menu {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    background: #F7F7F7;
    border-radius: 50px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    height: 51px;

    @include mq-up("pc") {
      padding: 20px 10px 20px 40px;
    }

    @include mq-up("sp") {
      display: none;
      padding-top: 5em;

      &.active {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        height: 100vh;
        display: block;
        background-color: #f7f7f7;
        background-image: none;
        border-radius: 0;
        overflow-x: hidden;
      }
    }

    // .header-inner__menu-item
    &-item {
      font-family: $en-font;
      flex: 1 1 auto; 

      &:not(:nth-child(3)) {
        margin-right: 30px;

        .icons-items {
          display: none;
        }

        @include mq-up("sp") {
          margin-right: 0;

          // SNSアイコンエリア
          .icons-items {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 1em;

            li {
              width: 20%;
              display: flex;
              justify-content: center;
              align-items: center;

              &:nth-child(4) {
                width: 100%;
                margin-top: 2em;

                a {
                  display: flex;
                  flex-direction: column;
                  padding: 0.3em 1em;
                  background: #fff;
                  border-radius: 0.35em;
                  align-items: center;
                  align-content: center;
                  max-width: 142px;
                }
              }
            }

            &__link {
              position: absolute;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              width: 50px;
              height: 50px;
              padding-top: 5px;
              padding-left: 7px;
              border-radius: 50px;
              border: 10px solid #fff;
              background: #fff;

              img {
                position: absolute;
              }
            }
          }
        }
      }

      @include mq-up("sp") {
        padding: 0.5em 0;
        margin-right: 0;
        text-align: center;
        font-size: 2rem;
      }

      &.is-current {
        @include mq-up("pc") {
          &:after {
            position: absolute;
            bottom: 0;
            display: block;
            content: "";
            width: 35px;
            height: 2px;
            background: #191919;
          }
        }
      }
    }
  }
}

// メインコンテンツ
// .content-inner

.content {
  &__inner {
    max-width: 1540px;
    padding: 0 50px;
    margin: 0 auto;

    @include mq-up("sp") {
      padding: 0px 20px;
    }
  }
}

//タブラッパー
.tab-switch {
  display: flex;
  justify-content: center;
  cursor: pointer;
  max-width: 1000px;
  margin: 0 auto;

  // .tab-switch__item
  &__item {
    &:first-child {
      margin-right: 30px;
    }

    &.icon-web {
      //Webfont化済み/css/font-style.cssを参照
    }

    &.icon-app {
      //Webfont化済み/css/font-style.cssを参照
    }

    // .tab-switch__item.is-active
    &.is-active {
      // background-color: #222e3e;
      color: #fff;
      border: none;
    }
  }
}
.tab-contents {
  font-size: 30px;
  text-align: center;
  margin-top: 50px;

  // tab-contents__item-inner
  &__item-inner {
    margin-bottom: 60px;
  }

  // tab-contents__item
  &__item-area {
    display: none;

    // tab-contents__item.is-show
    &.is-show {
      margin-top: 50px;
      display: block;
    }
  }
}
.arrow-svg {
  fill: red;
}

//About
.about-content {
  max-width: 896px;
  width: auto;
  margin: 0 auto 120px;
  &__heading {
    font-family: $en-font;
    font-size: $en-hedding01;
    margin-bottom: 32px;

    @include mq-up("sp") {
      font-size: $en-hedding02;
    }

    &-policy {
      font-size: $jp-hedding05;
      margin-bottom: 20px;
    }
  }

  // .about-content__buttons

  &__buttons {
    display: flex;
    margin: 25px 0 60px;
  }

  // .about-content__button
  &__button {
    position: relative;
    margin-right: 20px;

    .button-link{
      position: relative;
      height: 45px;
      display: flex;
      flex-direction: row;
      padding: 10px 30px;
      align-items: center;
      background: #F5F5F5;
      border-radius: 50px;
      box-shadow: 3px 4px 3px rgba(222, 222, 222, 0.7);
    }

    .background-button {
      position: absolute;
      background: #fff;
      width: 100%;
      height: 50px;
      border-radius: 50px;
      top: -5px;
      right: 3px;
    }

    .button-text{
      flex: 1 1 100%;
      letter-spacing: 1px;
    }

    .button-image{
      height: 9px;
      height: 15px;
      padding-right: 10px;
    }
  }

  // .about-content__policy

  &__policy {
    &-items {
      text-indent: -20px;
      padding-left: 20px;
      padding-bottom: 5px;
      line-height: 1.5;
      list-style-position: inside;
      list-style-type: disc;
    }
  }
}

//Books
.books-content {
  max-width: 896px;
  width: auto;
  margin: 0 auto 90px;

  // .books-content__heading
  &__heading {
    font-family: $en-font;
    font-size: $en-hedding01;
    margin-bottom: 32px;

    @include mq-up("sp") {
      font-size: $en-hedding02;
    }
  }
  
  // .books-content__books
  &__books {
    
    padding-bottom: 70px;

    @include mq-up("pc") {
      padding-bottom: 90px;
    }

    // .books-content__books-list
    &-list {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 30px 15px;

      @include mq-up("pc") {
        justify-content: flex-start;
        gap: 40px 37px;
      }

      // .books-content__books-list-items
      &-items {
        flex: 1 1 196px;
        max-width: 196px;  
        background-color: #fff;

        @include mq-up("sp") {
          flex: 1 1 160px;
          // max-width: 160px;
        }

        .book-link {
          display: block;

          // .book-link__image
          &__image {
            width: 100%;
          }

          // .book-link__text
          &__text {
            height: auto;
            padding: 15px 15px 15px;
            font-size: 12px;
          }          
        }
      }
    }
  }


}

// フッター
footer {
  .footer-inner {
    background-color: #f1f1f1;
    padding: 5em 0;

    @include mq-up("sp") {
      padding: 50px 0 30px;
    }

    .icon-area {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;

      @include mq-up("sp") {
        
      }

      //.icon-area__item
      &__item {
        width: 70px;
        min-width: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include mq-up("pc") {
          text-align: center;
        
          &:nth-child(4) {
            width: 150px;
            margin-top: 0.65em;
            margin-left: 1.5em;
            padding: 0.5em 0.75em;
            background: #fff;
            border-radius: 5px;
          }
        }

        &-link {
          position: absolute;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 50px;
          height: 50px;
          padding-top: 5px;
          padding-left: 5px;
          border-radius: 50px;
          border: 10px solid #fff;
          background: #fff;

          img {
            position: absolute;
          }
        }

        @include mq-up("sp") {
          width: 20%;
          margin-right: 0;

          &:nth-child(4) {
            width: 100%;
            margin-top: 7.5em;
            margin-bottom: 2.5em;
            text-align: center;

            a {
              padding: 0.55em 1.0em;
              background: #fff;
              border-radius: 0.5em;
            }
          }
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .copyright {
      margin-left: 50%;
      margin-top: 50px;

      @include mq-up("sp") {
        margin: 2em 0 0;
        text-align: center;
      }
    }
  }
}

// SNSアイコンの白背景上の背景 フッター、バーガー共通
.background-icon {
  position: absolute;
  left: -7px;
  top: -7px;
  width: 50px;
  height: 50px;
  background: #F5F5F5;
  border-radius: 50px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.icon-twitter {
  width: 18px;
}

.icon-facebook {
  width: 10px;
}

.icon-rss {

}