// FontFamily
$en-font: "Crimson Text", serif;
$jp-font: "Noto Sans JP", sans-serif;

// JP_PC_headding
$jp-hedding01: 32px;
$jp-hedding02: 28px;
$jp-hedding03: 24px;
$jp-hedding04: 20px;
$jp-hedding05: 18px;
$jp-hedding06: 16px;

// JP_PC_headding
$jp-sp-hedding01: 26px;
$jp-sp-hedding02: 24px;
$jp-sp-hedding03: 22px;
$jp-sp-hedding04: 20px;
$jp-sp-hedding05: 18px;
$jp-sp-hedding06: 16px;

// EN_PC_headding
$en-hedding01: 40px;
$en-hedding02: 32px;
$en-hedding03: 26px;
$en-hedding04: 22px;
$en-hedding05: 20px;
$en-hedding06: 18px;

// EN_SP_headding
$en-sp-hedding01: 32px;
$en-sp-hedding02: 26px;
$en-sp-hedding03: 24px;
$en-sp-hedding04: 22px;
$en-sp-hedding05: 20px;
$en-sp-hedding06: 18px;

// デフォルトクリア
a {
  text-decoration: none;

  &:hover {
    opacity: 0.5;
  }
}

body {
  font-family: $jp-font;
  color: #333333;
  background-color: #f7f7f7;
  font-size: 14px;
}

// ヘッダー
// .header-inner
.header-inner {
  padding: 10px 50px;
  margin: 0 auto 80px;

  @include mq-up("sp") {
    padding: 20px 15px;
  }

  // .header-inner__navi
  &__navi {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;

    @include mq-up("sp") {
      display: block;
    }
  }
  &__navi-link {
    background-image: url("/assets/common/navigation-pc-top.svg");

    //- ハンバーガーメニュー
    @include mq-up("sp") {
      //- ハンバーガーメニュー　アイコン
      .hamburger {
        display: block;
        position: fixed;
        z-index: 3;
        right: 20px;
        top: 12px;
        width: 60px;
        height: 60px;
        cursor: pointer;
        text-align: center;
        background-image: url("/assets/common/hamburger-bg.png");
        &-inner {
          position: absolute;
          top: 8px;
          left: 15px;
        }
        span {
          display: block;
          position: absolute;
          width: 18px;
          height: 2px;
          left: 6px;
          background: #191919;
          -webkit-transition: 0.3s ease-in-out;
          -moz-transition: 0.3s ease-in-out;
          transition: 0.3s ease-in-out;
        }
        &__lineTop {
          top: 10px;
        }
        &__lineMiddle {
          top: 20px;
        }
        &__lineBottom {
          top: 30px;
        }
        //- ハンバーガーメニュー click時の動き
        &.active {
          .hamburger {
            &__lineTop {
              top: 21px;
              left: 6px;
              background: #191919;
              -webkit-transform: rotate(-45deg);
              -moz-transform: rotate(-45deg);
              transform: rotate(-45deg);
            }
            &__lineMiddle {
              top: 21px;
              background: #191919;
              -webkit-transform: rotate(45deg);
              -moz-transform: rotate(45deg);
              transform: rotate(45deg);
            }
            &__lineBottom {
              top: 21px;
              background: #191919;
              -webkit-transform: rotate(45deg);
              -moz-transform: rotate(45deg);
              transform: rotate(45deg);
            }
          }
        }
      }
    }
  }
  // .header-inner__menu
  &__menu {
    display: flex;
    align-items: center;
    padding: 5px 40px 0;
    background-image: url("/assets/common/navigation-pc-under.svg");
    height: 70px;

    @include mq-up("sp") {
      display: none;

      &.active {
        padding: 0;
        background-color: #f7f7f7;
        display: block;
        background-image: none;
        position: relative;
        height: 100vh;
        overflow-x: hidden;
      }
    }

    // .header-inner__menu-item
    &-item {
      &:not(:nth-child(4)) {
        margin-right: 30px;
      }
    }
  }
}

// メインコンテンツ
// .content-inner

.content {
  &__inner {
    max-width: 1540px;
    padding: 0 50px;
    margin: 0 auto;

    @include mq-up("sp") {
      padding: 0px 20px;
    }
  }
}

//タブラッパー
.tab-switch {
  display: flex;
  justify-content: center;
  cursor: pointer;
  max-width: 1000px;
  margin: 0 auto;

  // .tab-switch__item
  &__item {
    &:first-child {
      margin-right: 30px;
    }

    &.icon-web {
      //Webfont化済み/css/font-style.cssを参照
    }

    &.icon-app {
      //Webfont化済み/css/font-style.cssを参照
    }

    // .tab-switch__item.is-active
    &.is-active {
      // background-color: #222e3e;
      color: #fff;
      border: none;
    }
  }
}
.tab-contents {
  font-size: 30px;
  text-align: center;
  margin-top: 50px;

  // tab-contents__item-inner
  &__item-inner {
    margin-bottom: 60px;
  }

  // tab-contents__item
  &__item-area {
    display: none;

    // tab-contents__item.is-show
    &.is-show {
      margin-top: 50px;
      display: block;
    }
  }
}
.arrow-svg {
  fill: red;
}

// フッター
footer {
  .footer-inner {
    background-color: #f1f1f1;
    padding: 30px 0;

    .icon-area {
      display: flex;
      justify-content: center;

      //.icon-area__item
      &__item {
        margin-right: 30px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .copyright {
      margin-left: 50%;
      margin-top: 50px;
    }
  }
}
