/*
  TOPページ用スタイル
*/
// * {
//   border: 1px solid red;
// }

//サービス情報
.service-info {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  font-family: $jp-font;

  @include mq-up("sp") {
    margin-bottom: 0.5em;
  }

  dt {
    margin-right: 20px;
  }

  //.service-info__name
  &__name {
    text-align: left;
    font-size: $en-hedding06 - 4;
  }

  //.service-info__copy
  &__copy {
    display: block;
    margin-top: 5px;
    color: #aaaaaa;
    font-size: 10px;
  }

  // .service-info__version
  &__version {
    @extend .service-info__copy;
  }
}

//サムネイルエリア APP
.service-thumbnail__app {
  display: flex;

  // .service-thumbnail__app-item
  &-item {

    width: 100%;

    &:not(:last-child) {
      margin-right: 10px;
    }
    img {
      width: 100%;
    }

    &:last-of-type {
      position: relative;
      @include mq-up("sp") {
        &::before {
          position: absolute;
          z-index: 1;
          content: 'View All →';
          width: 100%;        
          height: 99%;
          padding-top: 100%;
          font-size: 20px;
          color: #333333;
          background:rgba(255,255,255,0.9);
          border-radius: 13px;
        }
      }
    }

    @include mq-up("pc") {
      // max-width: 225px;
      cursor: pointer;
      &:hover {
        opacity: 0.7;
      }
    }
    @include mq-up("sp") {
      min-width: 8%;
      max-width: 180px;
      margin-right: 10px;

      &:first-child {
        margin-left: 20px;

      }
    }
  }

  @include mq-up("sp") {
    margin-right: calc(50% - 50vw);
    margin-left: calc(50% - 50vw);
  }
}

//web用の見出し
.service-name-web {
  margin-bottom: 15px;
  @extend .service-info__name;
}

//サムネイルエリア APP
.service-thumbnail__web {
  display: flex;
  margin-bottom: 60px;

  @include mq-up("sp") {
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
  }

  &-item {
    @include mq-up("sp") {
      width: 45%;

      // 最初のサムネイルだけWidth100%
      &:first-child {
        width: 100%;
        margin-bottom: 1em;
      }
    }

    &:not(:last-child) {
      margin-right: 10px;
    }
    img {
      width: 100%;
    }
  }

  @include mq-up("sp") {
    margin-right: calc(50% - 50vw);
    margin-left: calc(50% - 50vw);
  }
}

//広告エリア
// TODO: font-size 30pxはNGなので削除
.advertisement-area {

  // .advertisement-area__add-book
  &__add-book {
    position: relative;
    width: 100vw; 
    padding: 45px 0 10px;
    margin: 115px calc(50% - 50vw) 60px; 
    background: #F1F1F1;

    @include mq-up("sp") {
      padding: 35px 0 10px;
    }
  }

  // .advertisement-area__banner
  &__banner {
    .banner-add {
      width: 100%;
      max-width: 728px;
    }
  }

  .book-header {
    max-width: 1530px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto 30px;
    padding-left: 60px;
    padding-right: 60px;

    @include mq-up("sp") {
      padding: 0 20px 0;
      margin: 0;
    }   

    // .book-header__text
    &__title {
      font-family: $en-font;
      text-align: left;
      font-size: 30px;
    }

    // .book-header__link
    &__link {
      font-size: 16px;
      color: #333333;

      // .book-header__link-link
      &-link {
        display: flex;
        align-items: center;

        &::after {
          content: '';
          display: block;
          width: 12px;
          height: 12px;
          margin-left: 10px;
          background-image: url("/assets/common/icon-arrow.svg");
          background-size: contain;
          background-repeat: no-repeat;
        }
      }
    }    
  }

  .book-banner {
    max-width: 1530px;
    margin: 0 auto;
    padding: 0 45px;
    
    @include mq-up("sp") {
      padding: 0;
    }

    &__item {
      display: flex !important;
      flex-direction: column;
      align-items: center;

      @include mq-up("sp") {
        width: auto !important;
      }      
    }

    // .book-banner__inner
    &__inner {
      max-width: 180px;
      margin: 15px 10px;
      background: #fff;
    }

    // .book-banner__image
    &__image {
      width: 100%;
    }

    // .book-banner__text
    &__text {
      font-size: 12px;
      padding: 5px;
      line-height: 1.2;
      text-align: left;
      display: inline-block;
    }

    .slick-list {
      @include mq-up("sp") {
        padding: 0 !important;
      }            
    }

    .slick-track {
    }

    .slick-arrow {
      &::before {
        content: '';
        position: absolute;
        top: -15px;
        right: -20px;
        margin-right: 20px  ;
        width: 20px;
        height: 20px;
        content: "";
        border-top: 4px solid #aaa;
        border-right: 4px solid #aaa;

        @include mq-up("sp") {
          bottom: 0;
          width: 16px;
          height: 16px;
          border-top: 3px solid #aaa;
          border-right: 3px solid #aaa;  
        }
      }      
    }

    .slick-prev {
      left: 25px;
      &::before {
        transform: rotate(225deg);
      }

      @include mq-up("sp") {
        top: 100%;
        left: 15px;
      }
    }

    .slick-next {
      right: 15px;
      &::before {
        transform: rotate(45deg);
      }
      
      @include mq-up("sp") {
        top: 100%;
        right: 20px;
      }      
    }

    // dots
    .slick-dots {
      position: static;
      bottom: -40px;

      li {
        width: 10px;
        height: 10px;
        border-radius: 10px;
        background: #CFCFCF;
        overflow: hidden;

        button {
          &::before {
            background: #191919;
          }
        }
      }
    }
  }
}
//ページネーション
.pagenation {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;

  li {
    color: #aaaaaa;
    padding: 0 20px;
    &:first-child {
      margin-right: 20px;
    }
    &:last-child {
      margin-left: 20px;
    }
    a {
      color: #aaaaaa;

      &.is-active {
        color: #333;
      }
    }
  }
}

/*
  APP&Webの詳細ページ 
*/
.detail-contents {
  margin-top: 50px;

  // .detail-contents__items
  &__items {
  }

  // .detail-contents__overview
  &__overview {
    margin-top: 1em;
    margin-bottom: 2em;
  }

  // .detail-contents__tag
  &__tag {
  }

  // .detail-contents__thumbnail
  &__thumbnail {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 2em;

    @include mq-up("sp") {
      justify-content: space-between;
    }
  }
}

// サービス概要
.overview-text {
  color: #3b4043;
  font-size: 14px;
}

// タグエリア
// .tag-items
.tag-items {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3em;

  // .tag-items__items
  &__item {
    position: relative;
    z-index: 0;
    display: flex;
    justify-content: center;
    width: auto;
    margin: 5px 10px 5px 0;
    padding: 10px 20px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 3px 4px 4px rgba(222, 222, 222, 0.7);
  }
}

.background-tag {
  position: absolute;
  z-index: 2;
  background: #F7F7F7;
  width: 100%;
  height: 33px;
  border-radius: 50px;
  top: 3px;
  right: -1px;
}

// .item-text
.item-text {
  position: relative;
  z-index: 3;
  text-align: center;
  font-size: 10px;
}

// サムネイルエリア
// .contents-thumbnail
.contents-thumbnail {
  margin-bottom: 1em;
  margin-right: 1em;
  max-width: 225px;

  @include mq-up("sp") {
    width: 48%;
    margin-right: 0;
  }
  & img {
    width: 100%;
  }
}

/*
  モーダルウィンドウ
*/
.modal {
  display: none;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  background-color: #F7F7F7;

  @include mq-up("pc") {
    overflow-y: hidden;
  }

  // .modal-content
  &-content {
    // width: 500px;
    height: 100vh;
    margin: 0 auto 0;

    // .modal-content__inner
    &__inner {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;

      @include mq-up("sp") {
        flex-direction: column;
      }
      
      //.modal-content__inner-slider
      &-slider {
        flex-grow: 3;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .modal-image {
          padding: 0.5em;

          img {
            width: 100%;
          }
        }

        // slick用
        @include mq-up('pc') {
          .slick-list {
            width: 340px;
            margin: 0 auto;
          }
        }

        @include mq-up("sp") {
          padding: 20% 10% 10%;
        }
      }

      // .modal-content__inner-app-information
      &-app-information {
        max-width: 33%;
        height: 100vh;
        // flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding-right: 30px;
        padding-left: 30px;
        background-color: #fff;
        
        @include mq-up("sp") {
          max-width: 100%;
          height: auto;
          padding: 10% 5% 10%;
        }

        // .app-information__service
        .app-information__service {

        }

        // .app-information__tags
        .app-information__tags {

          // .app-information__tags-list
          &-list {
            display: flex;
            flex-wrap: wrap;

            // .app-information__tags-list-item
            &-item {
              position: relative;
              z-index: 1;
              display: flex;
              justify-content: center;
              // flex-grow: 1;
              margin: 5px 10px 5px 0;
              padding: 10px 20px;
              background: #F7F7F7;
              border-radius: 20px;
              box-shadow: 3px 4px 4px rgba(222, 222, 222, 0.7);

              // .list-item
              .list-item {
                position: relative;
                z-index: 3;
                font-size: 10px;
              }
            }
          }

        }
      }

      // .slick-prev
      .slick-arrow {
        display: inline-block;
        width: 18px;
        height: 18px;
        margin: 0 10px;
        transform: rotate(45deg);
      }

      // .slick-prev
      .slick-prev {
        border-left: 2px solid #333;
        border-bottom: 2px solid #333;

        @include mq-up("pc") {
          left: 40px;
        }

        @include mq-up("sp") {
          left: 10px;
        }        

        &::before {
          content: none; // デフォルト矢印を打ち消し
        }        
      }

      // .slick-next
      .slick-next {
        right: 15px;
        border-top: 2px solid #333;
        border-right: 2px solid #333;

        @include mq-up("pc") {
          right: 15px;
        }

        @include mq-up("sp") {
          right: 10px;
        }           

        &::before {
          content: none; // デフォルト矢印を打ち消し
        }
      }
    }
  }

  &-close {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 100;
    max-width: 60px;
    cursor: pointer;

    img {
      width: 100%;
    }
  }
}

.is-modal-open {
  cursor: pointer;
}

// ボタン
.back-button {
  position: relative;
  max-width: 280px;
  margin: 70px auto 100px;

  // .back-button__background
  &__background {
    position: absolute;
    z-index: 0;
    background: #fff;
    width: 100%;
    height: 40px;
    border-radius: 50px;
    top: -4px;
    right: 4px;
  }

  // .back-button__button 
  &__button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    display: flex;
    align-items: center;
    background: #F7F7F7;
    border-radius: 50px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    height: 44px;

    &:before {
      content: '';
      position: absolute;
      left: 10px;
      display: block;
      width: 16px;
      height: 16px;
      margin-left: 10px;
      background-image: url(/assets/common/icon-arrow.svg);
      background-size: contain;
      background-repeat: no-repeat;
      transform:rotate(180deg);
    }
  }

  // .back-button__text
  &__text {

  } 
}
