/*
  TOPページ用スタイル
*/
// * {
//   border: 1px solid red;
// }

//サービス情報
.service-info {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  font-family: $jp-font;

  @include mq-up("sp") {
    margin-bottom: 0.5em;
  }

  dt {
    margin-right: 20px;
  }

  //.service-info__name
  &__name {
    text-align: left;
    font-size: $en-hedding06 - 4;
  }

  //.service-info__copy
  &__copy {
    display: block;
    margin-top: 5px;
    color: #aaaaaa;
    font-size: 10px;
  }

  // .service-info__version
  &__version {
    @extend .service-info__copy;
  }
}

//サムネイルエリア APP
.service-thumbnail__app {
  display: flex;

  // .service-thumbnail__app-item
  &-item {
    max-width: 225px;
    width: 100%;

    &:not(:last-child) {
      margin-right: 18px;
    }
    img {
      width: 100%;
    }

    &:last-of-type {
      position: relative;
      @include mq-up("sp") {
        &::before {
          position: absolute;
          z-index: 1;
          content: 'View All →';
          width: 100%;        
          height: 99%;
          padding-top: 100%;
          font-size: 20px;
          color: #333333;
          background:rgba(255,255,255,0.9);
          border-radius: 13px;
        }
      }
    }

    @include mq-up("pc") {
      cursor: pointer;
      &:hover {
        opacity: 0.7;
      }
    }
    @include mq-up("sp") {
      width: 225px !important;

      &:first-child {
        margin-left: 20px;
        margin-right: 20px;
      }
    }
  }

  @include mq-up("sp") {
    margin-right: calc(50% - 50vw);
    margin-left: calc(50% - 50vw);
  }
}

//web用の見出し
.service-name-web {
  margin-bottom: 15px;
  @extend .service-info__name;
}

//サムネイルエリア APP
.service-thumbnail__web {
  display: flex;
  margin-bottom: 60px;

  @include mq-up("sp") {
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
  }

  &-item {
    @include mq-up("sp") {
      width: 45%;

      // 最初のサムネイルだけWidth100%
      &:first-child {
        width: 100%;
        margin-bottom: 1em;
      }
    }

    &:not(:last-child) {
      margin-right: 18px;
    }
    img {
      width: 100%;
    }
  }

  @include mq-up("sp") {
    margin-right: calc(50% - 50vw);
    margin-left: calc(50% - 50vw);
  }
}

//広告エリア
.advertisement-area {
  position: relative;
  left: 49%;
  width: 100vw;
  margin: 120px 0;
  transform: translateX(-50%);
  overflow: hidden;

  @include mq-up("sp") {
    margin: 1em 0;
  }

  &__add-book {
    margin-bottom: 1em;
    padding-bottom: 1.5em;
    background-color: #f1f1f1;
  }

  &__banner {
    padding: 1em;
  }

  img {
    width: 100%;
    max-width: 728px;
  }
}

.book-title {
  position: absolute;
  top: 3%;
  left: 5%;

  &__text {
    font-size: 1rem;
  }
}

.book-banner {
  display: flex;

  &__item {
    width: 100%;
    max-width: 196px;
    padding: 0.5em;

    @include mq-up("sp") {
      padding: 0.5em;
    }
  }
}

// slickslider CSS 上書き

.book-banner {
  &.slick-slider {
    top: 30px !important; //打ち消し
  }
}

.slick-track {
}

.slick-dots {
  li {
    margin: 0 !important; //打ち消し
    button {
      &::before {
        font-size: 65px !important; //打ち消し
      }
    }
  }
}

//ページネーション
.pagenation {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;

  li {
    color: #aaaaaa;
    padding: 0 20px;
    &:first-child {
      margin-right: 20px;
    }
    &:last-child {
      margin-left: 20px;
    }
    a {
      color: #aaaaaa;

      &.is-active {
        color: #333;
      }
    }
  }
}

/*
  APP&Webの詳細ページ 
*/
.detail-contents {
  margin-top: 50px;

  // .detail-contents__items
  &__items {
  }

  // .detail-contents__overview
  &__overview {
    margin-top: 1em;
    margin-bottom: 2em;
  }

  // .detail-contents__tag
  &__tag {
  }

  // .detail-contents__thumnail
  &__thumnail {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 2em;

    @include mq-up("sp") {
      justify-content: space-between;
    }
  }
}

// サービス概要
.overview-text {
  color: #3b4043;
  font-size: 14px;
}

// タグエリア
// .tag-items
.tag-items {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3em;

  // .tag-items__items
  &__item {
    max-width: 95px;
    width: 100%;
    height: 29px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 0.5em;
    background-image: url("../assets/common/bg-tag.png");
  }
}

// .item-text
.item-text {
  text-align: center;
  font-size: 10px;
}

// サムネイルエリア
// .contents-thumnail
.contents-thumnail {
  margin-bottom: 1em;
  margin-right: 1em;
  max-width: 225px;

  @include mq-up("sp") {
    width: 48%;
    margin-right: 0;
  }
  & img {
    width: 100%;
  }
}

/*
  トップモーダル
*/
.modal {
  display: none;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  background-color: #F7F7F7;

  @include mq-up("pc") {
    overflow-y: hidden;
  }

  // .modal-content
  &-content {
    // width: 500px;
    height: 100vh;
    margin: 0 auto 0;

    // .modal-content__inner
    &__inner {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;

      @include mq-up("sp") {
        flex-direction: column;
      }
      
      //.modal-content__inner-slider
      &-slider {
        flex-grow: 3;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .modal-image {
          padding: 0.5em;

          img {
            width: 100%;
          }
        }

        // slick用
        @include mq-up('pc') {
          .slick-list {
            width: 340px;
            margin: 0 auto;
          }
        }

        @include mq-up("sp") {
          padding: 20% 10% 10%;
        }
      }

      // .modal-content__inner-app-information
      &-app-information {
        max-width: 33%;
        height: 100vh;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding-right: 10px;
        padding-left: 30px;
        background-color: #fff;
        
        @include mq-up("sp") {
          max-width: 100%;
          height: auto;
          padding: 10% 5% 10%;
        }

        // .app-information__service
        .app-information__service {

        }

        // .app-information__tags
        .app-information__tags {

          // .app-information__tags-list
          &-list {
            display: flex;
            flex-wrap: wrap;

            // .app-information__tags-list-item
            &-item {
              display: flex;
              justify-content: center;
              flex-grow: 1;
              margin: 5px 10px 5px 0;
              padding: 10px 20px;
              background: #F7F7F7;
              border-radius: 20px;
              box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);

              // .list-item
              .list-item {
                font-size: 10px;
              }
            }
          }

        }
      }

      // .slick-prev
      .slick-arrow {
        display: inline-block;
        width: 18px;
        height: 18px;
        margin: 0 10px;
        transform: rotate(45deg);
      }

      // .slick-prev
      .slick-prev {
        border-left: 2px solid #333;
        border-bottom: 2px solid #333;

        @include mq-up("pc") {
          left: 40px;
        }

        @include mq-up("sp") {
          left: 10px;
        }        

        &::before {
          content: none; // デフォルト矢印を打ち消し
        }        
      }

      // .slick-next
      .slick-next {
        right: 15px;
        border-top: 2px solid #333;
        border-right: 2px solid #333;

        @include mq-up("pc") {
          right: 15px;
        }

        @include mq-up("sp") {
          right: 10px;
        }           

        &::before {
          content: none; // デフォルト矢印を打ち消し
        }
      }
    }
  }

  &-close {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 100;
    max-width: 60px;
    cursor: pointer;

    img {
      width: 100%;
    }
  }
}