//サービス情報
.service-info {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  font-family: $jp-font;
  dt {
    margin-right: 20px;
  }

  //.service-info__name
  &__name {
    text-align: left;
    font-size: $en-hedding06 - 4;
  }

  //.service-info__copy
  &__copy {
    display: block;
    margin-top: 5px;
    color: #aaaaaa;
    font-size: 10px;
  }
}

//サムネイルエリア APP
.service-thmunail__app {
  display: flex;

  &-item {
    @include mq-up("sp") {
      max-width: 225px;

      &:first-child {
        margin-left: 20px;
      }
    }

    &:not(:last-child) {
      margin-right: 18px;
    }
    img {
      width: 100%;
    }
  }

  @include mq-up("sp") {
    margin-right: calc(50% - 50vw);
    margin-left: calc(50% - 50vw);
  }
}

//web用の見出し
.service-name-web {
  margin-bottom: 15px;
  @extend .service-info__name;
}

//サムネイルエリア APP
.service-thmunail__web {
  display: flex;
  margin-bottom: 60px;

  @include mq-up("sp") {
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
  }

  &-item {
    @include mq-up("sp") {
      width: 45%;

      // 最初のサムネイルだけWidth100%
      &:first-child {
        width: 100%;
        margin-bottom: 1em;
      }
    }

    &:not(:last-child) {
      margin-right: 18px;
    }
    img {
      width: 100%;
    }
  }

  @include mq-up("sp") {
    margin-right: calc(50% - 50vw);
    margin-left: calc(50% - 50vw);
  }
}

//広告エリア
.advertisement-area {
  margin: 120px calc(50% - 50vw);
  width: 100vw;
  padding: 10px 0;
  background-color: red;

  &__add-book {
    background-color: #f1f1f1;
  }
}

//ページネーション
.pagenation {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;

  li {
    color: #aaaaaa;
    padding: 0 20px;
    &:first-child {
      margin-right: 20px;
    }
    &:last-child {
      margin-left: 20px;
    }
    a {
      color: #aaaaaa;

      &.is-active {
        color: #333;
      }
    }
  }
}
